In [1]:
import pandas as pd

In [2]:
df_investing_therory = pd.read_csv("../../data/final-data-processed/FFinal_filtered_cleaned_investing_theory.csv")
df_quora = pd.read_csv("../../data/final-data-processed/Preprocessed_Text_KG_Quora.csv")
df_myfico = pd.read_csv("../../data/final-data-processed/myfico_processed.csv")
df_personal_finance = pd.read_csv("../../data/final-data-processed/pre-processed_personal_finance_forum.csv")

In [3]:
df_investing_therory.head(10)

,Question,Answer
0,dr bernstein well annuitize portfolio tips ibo...,thank example question certain thing get try r...
1,accord size us equity market trillion accord m...,gaston think mistake bet one small corner stoc...
2,admit fall deep rabbit hole regard portfolio r...,take hopefully cover question along way start ...
3,seem lot expert recommend invest gold lately e...,yesterday got trigger old subject gold vs stoc...
4,dr bernstein well annuitize portfolio tips ibo...,paste excel uploading image also explain metho...
5,hi bogleheads question widetheoretical certain...,quote fix admin ladygeek good close guess rest...
6,understand currently available ibonds fix rate...,yes depend inflation rate final six month five...
7,sjepipdf know reach yield wrong fund indexer c...,first post post hope hopefully get clarity key...
8,anyone notice gold price flat ytd despite cras...,paper cash fact subject wild swing inflationad...
9,last year brutal anyone follow stay course man...,leave hindsight bias hindsight bias psychologi...

In [4]:
df_investing_therory.shape

(7500, 2)

In [5]:
df_quora.head(10)

,Unnamed: 0,Question_Processed,Answer_Processed
0,0,good way save money,use credit card buy item want money spend lac ...
1,1,good way tip save money,first â€¦ most people monthly income pay bill wh...
2,2,good way trick save money,keep fund one bank spend salary deduct amount ...
3,3,affluent people really eat well people poor,never forget remember like yesterday starve co...
4,4,worth buy lamborghini fancy status symbol,someone own lamborghini tell unequivocally wor...
5,5,important knowledge money,mike tyson earn million per fight peak career ...
6,6,thing money can not buy poor people may enjoy ...,know anyone truly poor wife come we family com...
7,7,people buy house cheap area drive hour work worth,7k square foot house middle nowhere ten mile n...
8,8,simple mistake people ruin wealth,serious problem truly know go friend say last ...
9,9,poor low class people moment realise affluent ...,learn poor second grade learn emergency electr...

In [6]:
df_quora.shape

(155, 3)

In [3]:
df_myfico.head(10)

,Unnamed: 0,question,answer
0,0,august major derog unpaid collection unpaid ch...,advice would be1 first look specialized credit...
1,1,good strategy pick bank high yield saving acco...,depend liquid need could also consider cd us a...
2,2,hello greeting everyone glad want thank time a...,right first think op say expense cover retiree...
3,3,hey everyone sofi checkingsavings like conside...,use seem fine far primary bank would never wan...
4,4,cu offer special interest dividend earn checki...,agree consider type account worthless use debi...
5,5,hello look advice assist wife build credit bec...,simple put savings account take share secure l...
6,6,hi folk buy home unfinished work seller suppos...,think take one personal loan preferably nfcu g...
7,7,hey everyone point onerecently open brand new ...,many dollar lose strive little yield use debit...
8,8,ever happen anyone got notification myfico one...,bummer ought reinstate personal line credit un...
9,9,hi never apply get personal loan check penfed ...,do get overall utilization individual account ...

In [4]:
df_myfico.shape

(150, 3)

In [11]:
df_myfico.columns

Index(['question  ', 'answer  '], dtype='object')

In [9]:
df_personal_finance.head(10)

,Unnamed: 0,lemmatized-post_text,lemmatized_reply_text
0,69405,ok start question detail sense higherincome ea...,wow huge response appreciate sure quote youper...
1,8138,current tech company year currently bored tear...,think vhcol hcol parse word impressive ask lis...
2,75876,nightmare maybe wring bug use voip phone want ...,paste vanguard fund available mfw chance want ...
3,133733,hi see similar post like feel like go midlife ...,disclaimer come perspective yearold limited ex...
4,65959,get benefit information new job chicago public...,prescription drug expensive doctor time year m...
5,65835,know normal work hour hour week hour people wo...,apologize advance long post recognize lot op s...
6,69394,ok start question detail sense higherincome ea...,welcome forum want expand area let start reali...
7,7437,story historically live van net worth currentl...,market recovery market recover worry recover m...
8,7454,story historically live van net worth currentl...,ski resort job sound like fun friend family di...
9,129772,boglehead wiki traditional versus roth detaile...,correct record untrue major update wide partic...

In [10]:
df_personal_finance.shape

(500, 3)

In [3]:
df_quora = df_quora.drop(columns='Unnamed: 0')
df_personal_finance = df_personal_finance.drop(columns='Unnamed: 0')
df_myfico = df_myfico.drop(columns='Unnamed: 0')

In [4]:
df_quora.shape

(155, 2)

In [5]:
df_personal_finance.shape

(500, 2)

In [6]:
df_myfico.shape

(150, 2)

In [7]:
df_myfico = df_myfico.rename(columns={'question  ':'Question','answer  ':'Answer'})

In [9]:
df_myfico.head(1)

,Question,Answer
0,august major derog unpaid collection unpaid ch...,advice would be1 first look specialized credit...

In [10]:
df_personal_finance = df_personal_finance.rename(columns={'lemmatized-post_text':'Question','lemmatized_reply_text':'Answer'})

In [11]:
df_quora = df_quora.rename(columns={'Question_Processed':'Question','Answer_Processed':'Answer'})

In [12]:
processed_data_merged = pd.concat([df_quora, df_personal_finance, df_myfico, df_investing_therory])

In [13]:
processed_data_merged.head(10)

,Question,Answer
0,good way save money,use credit card buy item want money spend lac ...
1,good way tip save money,first â€¦ most people monthly income pay bill wh...
2,good way trick save money,keep fund one bank spend salary deduct amount ...
3,affluent people really eat well people poor,never forget remember like yesterday starve co...
4,worth buy lamborghini fancy status symbol,someone own lamborghini tell unequivocally wor...
5,important knowledge money,mike tyson earn million per fight peak career ...
6,thing money can not buy poor people may enjoy ...,know anyone truly poor wife come we family com...
7,people buy house cheap area drive hour work worth,7k square foot house middle nowhere ten mile n...
8,simple mistake people ruin wealth,serious problem truly know go friend say last ...
9,poor low class people moment realise affluent ...,learn poor second grade learn emergency electr...

In [15]:
processed_data_merged.shape

(8305, 2)

In [16]:
processed_data_merged.to_csv('../../data/final-data-processed/processed_data_merged.csv')