In [1]:
import pandas as pd

In [26]:
df_investing_therory = pd.read_csv("../../data/final-data-unprocessed/FFinal_filtered_investing_theory.csv")
df_quora = pd.read_csv("../../data/final-data-unprocessed/Unprocessed_Text_KG_Quora.csv")
df_myfico = pd.read_csv("../../data/final-data-unprocessed/myfico_unprocessed.csv")
df_personal_finance = pd.read_csv("../../data/final-data-unprocessed/unprocessed_personal_financeForum.csv")

In [14]:
df_investing_therory.head(10)

,Question,Answer
0,"Dr. Bernstein: You are better off ""annuitizing...",Thanks for this example. I do have some questi...
1,According to https://siblisresearch.com/data/u...,Gaston: I think it is a mistake to bet that o...
2,I admit I've fallen into a deep rabbit hole re...,Here's my take on this. Hopefully it covers a...
3,"There seem to be a lot of ""experts"" recommendi...",Yesterday I got triggered by this same old sub...
4,"Dr. Bernstein: You are better off ""annuitizing...","I'll do what I can, but pasting from excel and..."
5,"Hi Bogleheads, As this question is wide/theor...",[ quote fixed by admin LadyGeek] A very good ...
6,My understanding of currently available I-Bond...,"Yes, it all depends on the inflation rate in t..."
7,https://am.jpmorgan.com/content/dam/jpm ... S-...,This is my first posting. I am posting with th...
8,Does anyone notice that Gold price has been fl...,Paper cash is in fact not subject to the same ...
9,The last year has been brutal for anyone follo...,I'll just leave this here: What Is Hindsight ...

In [15]:
df_investing_therory.shape

(7500, 2)

In [11]:
df_quora.head(10)

,Unnamed: 0,Question,Answer
0,0,what are the best ways to save money?,"1.don’t use credit cards - you buy the items, ..."
1,1,what are the best ways tips to save money?,first…most people have a monthly income. they ...
2,2,what are the best ways tricks to save money?,don't keep all your funds in one bank. spend y...
3,3,do affluent people really eat better than peop...,i will never forget this and i remember it lik...
4,4,is it worth buying a lamborghini or is there a...,as someone that owns a lamborghini i can tell ...
5,5,which is more important knowledge or money?,mike tyson earned up to $30 million per fight ...
6,6,"what are the things which money cannot buy, bu...",do you know anyone who is truly poor? my wife ...
7,7,why do people buy houses that are cheaper in f...,this is my 7k square foot house out in the mid...
8,8,what is a simple mistake people do that ruins ...,“it’s a very serious problem. i truly don’t kn...
9,9,"poor/lower class people, when was the moment y...","for me, i learned how poor i was in second gra..."

In [16]:
df_quora.shape

(155, 3)

In [12]:
df_myfico.head(10)

,question,answer
0,As of August 2023 all of my major derogs (an u...,My advice would be:1. First look for more spec...
1,What's a good strategy for picking a bank for ...,"Depending how liquid you need it to be, you co..."
2,Hello and greetings everyone! I'm so glad to ...,"Right, that was my first thought when the OP s..."
3,Hey everyone - For those of you that have a So...,"I'm using them, they seem fine, but they're fa..."
4,My CU has offered a special interest (dividend...,I agree with you 100%. Which is why I consider...
5,"Hello all, looking for some advice. i am assis...",Simple. Put $3100 into her savings account. T...
6,"Hi folks, When we bought our home there was so...",I think you should take out one of the 7.4% pe...
7,Hey everyone. POINT ONE:Recently opened a bran...,Many dollars have been lost striving for a lit...
8,Has this ever happened to anyone here? Got a n...,That's a bummer. They ought to have reinstate...
9,Hi I've never applied or gotten a personal loa...,"Been there, done that. When you get your overa..."

In [17]:
df_myfico.shape

(150, 2)

In [13]:
df_personal_finance.head(10)

,Unnamed: 0,post_text,reply_text
0,0,"""I'm starting to do some end-of-the-year prep ...",2022 ($34.98 before tax) $32.38 - December 29
1,1,"""I'm 52 and about to retire. Should I get lon...",it won't be me sorting all this out
2,2,"""A response to the thread about a gentleman's ...",I would think.) Any advice would be most sin...
3,3,"""My son's a HS junior in Illinois, definitely ...",automatic scholarships gets it down to about ...
4,4,"""Update (09/06/2022) -- house officially sold ...",but $5
5,5,"""Hi all, California recently included this...",do you believe it is likely we would have a d...
6,6,"""Last year, I sort of FOMO'd into buying my dr...",which if I'm being honest makes me have secon...
7,7,"""I came across this article from 2014 titled ""...",from what I understood from the example in th...
8,8,"""Just thinking about a """"can I afford this hou...",where expenses include projected rent. Annual...
9,9,"""Please forgive the lengthy context here but I...",my job has been lower-intensity the last coup...

In [18]:
df_personal_finance.shape

(100, 3)

In [ ]:
df_quora = df_quora.drop(columns='Unnamed: 0')

In [34]:
df_personal_finance = df_personal_finance.drop(columns='Unnamed: 0')

In [46]:
df_quora.shape

(155, 2)

In [47]:
df_personal_finance.shape

(100, 2)

In [37]:
df_myfico = df_myfico.rename(columns={'question':'Question','answer':'Answer'})

In [38]:
df_personal_finance = df_personal_finance.rename(columns={'post_text':'Question','reply_text':'Answer'})

In [39]:
df_myfico.head(1)

,Question,Answer
0,As of August 2023 all of my major derogs (an u...,My advice would be:1. First look for more spec...

In [40]:
df_personal_finance.head(1)

,Question,Answer
0,"""I'm starting to do some end-of-the-year prep ...",2022 ($34.98 before tax) $32.38 - December 29

In [42]:
unprocessed_data_merged = pd.concat([df_quora, df_personal_finance, df_myfico, df_investing_therory])

In [43]:
unprocessed_data_merged.head(10)

,Question,Answer
0,what are the best ways to save money?,"1.don’t use credit cards - you buy the items, ..."
1,what are the best ways tips to save money?,first…most people have a monthly income. they ...
2,what are the best ways tricks to save money?,don't keep all your funds in one bank. spend y...
3,do affluent people really eat better than peop...,i will never forget this and i remember it lik...
4,is it worth buying a lamborghini or is there a...,as someone that owns a lamborghini i can tell ...
5,which is more important knowledge or money?,mike tyson earned up to $30 million per fight ...
6,"what are the things which money cannot buy, bu...",do you know anyone who is truly poor? my wife ...
7,why do people buy houses that are cheaper in f...,this is my 7k square foot house out in the mid...
8,what is a simple mistake people do that ruins ...,“it’s a very serious problem. i truly don’t kn...
9,"poor/lower class people, when was the moment y...","for me, i learned how poor i was in second gra..."

In [44]:
unprocessed_data_merged.shape

(7905, 2)

In [45]:
unprocessed_data_merged.to_csv('../../data/final-data-unprocessed/unprocessed_data_merged.csv')