In [ ]:
import pandas as pd
import sys

#url = "https://raw.githubusercontent.com/OmdenaAI/lublin-poland-inflation-chatbot/main/src/data/quora/quora_questions_answers_csv.csv"

#try:
  #  df = pd.read_csv(url, index_col=0)
   # df.head()
#except Exception as e:
#
    #print("An error occurred:", e)
   # sys.exit(1)

An error occurred: HTTP Error 404: Not Found

SystemExit: ignored

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3334: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [5]:
df = pd.read_csv("/content/finance.csv")
df.head()

,Unnamed: 0,ID,Title,Post Text,Score,Upvotes,Media,Is_Video,Total Comments,Post Date
0,0,101uwa4,"Moronic Monday - January 03, 2023 - Your Weekl...",This is your safe place for questions on finan...,30,0.87,NaN,False,42,2023-01-03 02:00:12
1,1,1046j4t,"Citadel posts record revenues for hedge-fund, ...",NaN,403,0.89,NaN,False,175,2023-01-05 18:42:46
2,2,102ihvq,Sam Bankman-Fried pleads not guilty to 8 count...,NaN,1109,0.97,NaN,False,215,2023-01-03 20:29:46
3,3,100msuy,"Tough year ahead for the global economy, IMF's...",NaN,365,0.95,NaN,False,43,2023-01-01 16:12:13
4,4,100ft3e,If Risk Is Not Share Price Volatility... Then ...,NaN,89,0.92,NaN,False,13,2023-01-01 09:03:50

In [7]:
# Check for duplicates
df.Title.duplicated().sum()

0

In [9]:
import re

#Create a function to clean the title
def cleanTxt(text):
 text = re.sub(r'@[A-Za-z0–9]+', '', text) #Remove @mentions replace with blank
 text = re.sub(r'#', '', text) #Remove the ‘#’ symbol, replace with blank
 text = re.sub(r'RT[\s]+', '', text) #Removing RT, replace with blank
 text = re.sub(r'https?:\/\/\S+', '', text) #Remove the hyperlinks
 text = re.sub(r':', '', text) # Remove :
 return text
#Cleaning the text
df["Title"]= df["Title"].apply(cleanTxt)
#Show the clean text
df.head()

,Unnamed: 0,ID,Title,Post Text,Score,Upvotes,Media,Is_Video,Total Comments,Post Date
0,0,101uwa4,"Moronic Monday - January 03, 2023 - Your Weekl...",This is your safe place for questions on finan...,30,0.87,NaN,False,42,2023-01-03 02:00:12
1,1,1046j4t,"Citadel posts record revenues for hedge-fund, ...",NaN,403,0.89,NaN,False,175,2023-01-05 18:42:46
2,2,102ihvq,Sam Bankman-Fried pleads not guilty to 8 count...,NaN,1109,0.97,NaN,False,215,2023-01-03 20:29:46
3,3,100msuy,"Tough year ahead for the global economy, IMF's...",NaN,365,0.95,NaN,False,43,2023-01-01 16:12:13
4,4,100ft3e,If Risk Is Not Share Price Volatility... Then ...,NaN,89,0.92,NaN,False,13,2023-01-01 09:03:50

In [10]:
#Next we have to remove emoji & Unicode
def remove_emoji(string):
 emoji_pattern = re.compile("["
 u"\U0001F600-\U0001F64F" # emoticons
 u"\U0001F300-\U0001F5FF" # symbols & pictographs
 u"\U0001F680-\U0001F6FF" # transport & map symbols
 u"\U0001F1E0-\U0001F1FF" # flags (iOS)
 u"\U00002500-\U00002BEF" # chinese char
 u"\U00002702-\U000027B0"
 u"\U00002702-\U000027B0"
 u"\U000024C2-\U0001F251"
 u"\U0001f926-\U0001f937"
 u"\U00010000-\U0010ffff"
 u"\u2640-\u2642"
 u"\u2600-\u2B55"
 u"\u200d"
 u"\u23cf"
 u"\u23e9"
 u"\u231a"
 u"\ufe0f" # dingbats
 u"\u3030"
 "]+", flags=re.UNICODE)
 return emoji_pattern.sub(r'', string)
#Cleaning the text
df["Title"]= df["Title"].apply(remove_emoji)
#Show the clean text
df.head()

,Unnamed: 0,ID,Title,Post Text,Score,Upvotes,Media,Is_Video,Total Comments,Post Date
0,0,101uwa4,"Moronic Monday - January 03, 2023 - Your Weekl...",This is your safe place for questions on finan...,30,0.87,NaN,False,42,2023-01-03 02:00:12
1,1,1046j4t,"Citadel posts record revenues for hedge-fund, ...",NaN,403,0.89,NaN,False,175,2023-01-05 18:42:46
2,2,102ihvq,Sam Bankman-Fried pleads not guilty to 8 count...,NaN,1109,0.97,NaN,False,215,2023-01-03 20:29:46
3,3,100msuy,"Tough year ahead for the global economy, IMF's...",NaN,365,0.95,NaN,False,43,2023-01-01 16:12:13
4,4,100ft3e,If Risk Is Not Share Price Volatility... Then ...,NaN,89,0.92,NaN,False,13,2023-01-01 09:03:50

Get `Subjectivity` and `Polarity` of Title
Sentiment analysis is basically the process of determining the attitude or the emotion of the writer, i.e., whether it is positive or negative, or neutral.

* `Polarity` refers to the strength of an opinion. It could be positive or negative. If something has a strong positive feeling or emotion associated with it, such as admiration, trust, or love; this will indeed have a certain orientation towards all other aspects of that object’s existence.
* `Subjectivity` refers to the degree to which a person is personally involved in an object. What matters the most here are personal connections and individual experiences with that object, which may or may not differ from someone else’s point of view.

In [11]:
from textblob import TextBlob
from wordcloud import WordCloud, STOPWORDS

#Create a function to get the subjectivity
def getSubjectivity(text):
 return TextBlob(text).sentiment.subjectivity
#Create a function to get Polarity
def getPolarity(text):
 return TextBlob(text).sentiment.polarity
#Now we create a new column for what we just did and add it to the Tweet_df dataframe
df['Subjectivity'] = df['Title'].apply(getSubjectivity)
df['Polarity'] = df['Title'].apply(getPolarity)
#Now display data
df.head()

,Unnamed: 0,ID,Title,Post Text,Score,Upvotes,Media,Is_Video,Total Comments,Post Date,Subjectivity,Polarity
0,0,101uwa4,"Moronic Monday - January 03, 2023 - Your Weekl...",This is your safe place for questions on finan...,30,0.87,NaN,False,42,2023-01-03 02:00:12,0.000000,0.000000
1,1,1046j4t,"Citadel posts record revenues for hedge-fund, ...",NaN,403,0.89,NaN,False,175,2023-01-05 18:42:46,0.000000,0.000000
2,2,102ihvq,Sam Bankman-Fried pleads not guilty to 8 count...,NaN,1109,0.97,NaN,False,215,2023-01-03 20:29:46,1.000000,0.250000
3,3,100msuy,"Tough year ahead for the global economy, IMF's...",NaN,365,0.95,NaN,False,43,2023-01-01 16:12:13,0.416667,-0.194444
4,4,100ft3e,If Risk Is Not Share Price Volatility... Then ...,NaN,89,0.92,NaN,False,13,2023-01-01 09:03:50,0.000000,0.000000

In [12]:
#Group the range of Polarity into different categories
def getInsight(score):
 if score < 0:
  return "Negative"
 elif score == 0:
  return "Neutral"
 else:
  return "Positive"
df["Insight"] = df["Polarity"].apply(getInsight)
df.head(50)

,Unnamed: 0,ID,Title,Post Text,Score,Upvotes,Media,Is_Video,Total Comments,Post Date,Subjectivity,Polarity,Insight
0,0,101uwa4,"Moronic Monday - January 03, 2023 - Your Weekl...",This is your safe place for questions on finan...,30,0.87,NaN,False,42,2023-01-03 02:00:12,0.000000,0.000000,Neutral
1,1,1046j4t,"Citadel posts record revenues for hedge-fund, ...",NaN,403,0.89,NaN,False,175,2023-01-05 18:42:46,0.000000,0.000000,Neutral
2,2,102ihvq,Sam Bankman-Fried pleads not guilty to 8 count...,NaN,1109,0.97,NaN,False,215,2023-01-03 20:29:46,1.000000,0.250000,Positive
3,3,100msuy,"Tough year ahead for the global economy, IMF's...",NaN,365,0.95,NaN,False,43,2023-01-01 16:12:13,0.416667,-0.194444,Negative
4,4,100ft3e,If Risk Is Not Share Price Volatility... Then ...,NaN,89,0.92,NaN,False,13,2023-01-01 09:03:50,0.000000,0.000000,Neutral
5,5,1004sqr,"Why investing like Warren Buffett still works,...",NaN,460,0.91,NaN,False,101,2022-12-31 22:00:52,0.000000,0.000000,Neutral
6,6,zwk93s,Wall Street’s Big Banks Score $1 Trillion of P...,NaN,936,0.94,NaN,False,150,2022-12-27 16:59:23,0.100000,0.000000,Neutral
7,7,zw017m,U.S. SEC votes to advance stock market overhau...,NaN,762,0.98,NaN,False,106,2022-12-26 23:20:17,0.600000,-0.100000,Negative
8,8,zw3k7j,"Moronic Monday - December 27, 2022 - Your Week...",This is your safe place for questions on finan...,6,0.68,NaN,False,34,2022-12-27 02:00:10,0.000000,0.000000,Neutral
9,9,zvc1y2,SPAC Boom Ends in Frenzy of Liquidation - WSJ,NaN,210,0.97,NaN,False,17,2022-12-26 01:41:55,0.000000,0.000000,Neutral
10,10,zv75k6,A Small-Cap Surprise,NaN,36,0.64,NaN,False,2,2022-12-25 21:29:43,0.000000,0.000000,Neutral
11,11,zstxbp,Sam Bankman-Fried Released on $250 Million Bai...,NaN,837,0.95,NaN,False,246,2022-12-22 19:01:07,0.000000,0.000000,Neutral
12,12,zt22h5,"Scott Minerd, Guggenheim Partners’ Investment ...",NaN,142,0.92,NaN,False,16,2022-12-23 00:45:44,0.000000,0.000000,Neutral
13,13,zsmgs5,"GDP Q3 final estimate 3.2%, exp. 2.9%, last 2.9%",NaN,109,0.95,NaN,False,8,2022-12-22 13:47:51,0.533333,0.000000,Neutral
14,14,zsbpe6,Republican senators propose overhaul of Federa...,NaN,345,0.92,NaN,False,103,2022-12-22 04:08:02,0.000000,0.000000,Neutral
15,15,zrwlz2,U.S. existing home sales fall for 10th straigh...,NaN,875,0.97,NaN,False,101,2022-12-21 18:30:59,0.400000,0.200000,Positive
16,16,zqay5c,"Moronic Monday - December 20, 2022 - Your Week...",This is your safe place for questions on finan...,45,0.90,NaN,False,77,2022-12-20 02:00:12,0.000000,0.000000,Neutral
17,17,zmlcy6,ECB raises eurozone interest rate by 0.5%,NaN,349,0.97,NaN,False,47,2022-12-15 13:42:11,0.000000,0.000000,Neutral
18,18,zlzwf7,The Fed announced a 50-basis-point rate hike t...,NaN,850,0.97,NaN,False,119,2022-12-14 19:29:19,0.540000,0.160000,Positive
19,19,zloo4x,"ECB sees inflation above target through 2025, ...",NaN,211,0.97,NaN,False,17,2022-12-14 11:35:02,0.100000,0.000000,Neutral
20,20,zkftfa,FTX founder Sam Bankman-Fried arrested in the ...,NaN,3814,0.96,NaN,False,257,2022-12-12 23:45:01,0.550000,-0.400000,Negative
21,21,zkym6p,"Nasdaq, NYSE Set to Ease Rules on Direct-Listi...",NaN,27,1.00,NaN,False,3,2022-12-13 15:36:56,0.000000,0.000000,Neutral
22,22,zkvvjf,US November CPI +7.1% y/y vs +7.3% expected.,NaN,34,0.88,NaN,False,34,2022-12-13 13:33:28,0.400000,-0.100000,Negative
23,23,zjvkc9,Business-cycles and Cash-on-Market Pre-money S...,NaN,110,0.92,NaN,False,5,2022-12-12 10:52:15,0.000000,0.000000,Neutral
24,24,zkj0be,"Moronic Monday - December 13, 2022 - Your Week...",This is your safe place for questions on finan...,4,0.84,NaN,False,33,2022-12-13 02:00:10,0.000000,0.000000,Neutral
25,25,ziw0p3,Is it worth investing in precious metals?,NaN,0,0.50,NaN,False,13,2022-12-11 15:17:33,0.550000,0.400000,Positive
26,26,zgy1bh,"Fed Expected to Keep Peak Rates for Longer, Da...",NaN,493,0.96,NaN,False,97,2022-12-09 13:58:28,0.400000,-0.100000,Negative
27,27,zgxnle,Producer Price Index (PPI) News Release just c...,NaN,109,0.92,NaN,False,24,2022-12-09 13:41:15,0.250000,-0.050000,Negative
28,28,ze4ja8,"Deutsche bank, Rabobank hit with EU antitrust ...",NaN,585,0.99,NaN,False,25,2022-12-06 11:49:00,0.000000,0.000000,Neutral
29,29,zds0u8,Blackstone’s property bets are getting shakier...,NaN,1055,0.98,NaN,False,93,2022-12-06 02:15:25,0.488889,0.011111,Positive
30,30,zderwj,Wharton professor Jeremy Siegel roasts Jerome ...,NaN,979,0.87,NaN,False,148,2022-12-05 18:19:34,0.500000,0.500000,Positive
31,31,zdro1t,"Moronic Monday - December 06, 2022 - Your Week...",This is your safe place for questions on finan...,5,0.79,NaN,False,81,2022-12-06 02:00:08,0.000000,0.000000,Neutral
32,32,zdhk0b,Market turmoil threatens to undermine efforts ...,NaN,12,0.88,NaN,False,1,2022-12-05 19:54:32,0.000000,0.000000,Neutral
33,33,zbm2jp,Venture Capital Finance Which Factors Matter M...,NaN,121,0.89,NaN,False,13,2022-12-03 17:53:01,0.500000,0.500000,Positive
34,34,z9lqk1,When the chips go up Big banks bet on S. Korea...,NaN,508,0.98,NaN,False,71,2022-12-01 11:42:16,0.100000,0.000000,Neutral
35,35,z7g1ir,"Moronic Monday - November 29, 2022 - Your Week...",This is your safe place for questions on finan...,7,0.78,NaN,False,84,2022-11-29 02:00:12,0.000000,0.000000,Neutral
36,36,z4p6ry,Tech’s reality check How the industry lost $7....,NaN,991,0.96,NaN,False,69,2022-11-25 21:46:19,0.000000,0.000000,Neutral
37,37,z1q9l2,NY Fed Bank liquidity may be tighter than thou...,NaN,508,0.97,NaN,False,127,2022-11-22 10:32:32,0.000000,0.000000,Neutral
38,38,z1h8wz,"Moronic Monday - November 22, 2022 - Your Week...",This is your safe place for questions on finan...,18,0.85,NaN,False,55,2022-11-22 02:00:10,0.000000,0.000000,Neutral
39,39,z0bmil,Collapsed FTX owes nearly $3.1 billion to top ...,NaN,1439,0.97,NaN,False,174,2022-11-20 18:38:09,0.450000,0.300000,Positive
40,40,z0h2mm,Mortgage market upheaval spurs $17 billion in ...,NaN,449,0.97,NaN,False,46,2022-11-20 22:16:13,0.000000,0.000000,Neutral
41,41,yyn3sr,Masayoshi Son owes $4.7bn to SoftBank followin...,NaN,624,0.98,NaN,False,73,2022-11-18 15:43:01,0.100000,0.000000,Neutral
42,42,yx9cne,Sam Bankman-Fried tries to explain himself,NaN,928,0.92,NaN,False,386,2022-11-16 23:08:29,0.400000,-0.100000,Negative
43,43,yvxudr,Global investigators pounce as FTX collapse le...,NaN,818,0.98,NaN,False,90,2022-11-15 13:52:13,0.500000,0.000000,Neutral
44,44,yvjmgm,"Moronic Monday - November 15, 2022 - Your Week...",This is your safe place for questions on finan...,29,0.97,NaN,False,62,2022-11-15 02:00:12,0.000000,0.000000,Neutral
45,45,yumonk,The FTX debacle makes SEC Chair Gensler look b...,NaN,356,0.93,NaN,False,89,2022-11-14 02:44:07,0.600000,-0.100000,Negative
46,46,yur7bo,WSJ News Exclusive | JPMorgan Dodges a Buyout-...,NaN,55,0.94,NaN,False,2,2022-11-14 06:40:35,0.000000,0.000000,Neutral
47,47,ytqyvv,FTX’s founder was called a modern-day J.P. Mor...,NaN,924,0.85,NaN,False,144,2022-11-13 03:47:14,0.418750,-0.062500,Negative
48,48,yt4cr8,Exclusive At least $1 billion of client funds ...,NaN,1094,0.97,NaN,False,229,2022-11-12 11:22:49,0.225000,-0.250000,Negative
49,49,ysose2,Musk Warns Twitter Bankruptcy Possible as Seni...,NaN,1119,0.95,NaN,False,252,2022-11-11 22:12:31,1.000000,0.000000,Neutral

In [18]:
#df.drop("Unnamed: 0", axis=1, inplace=True)
df = df[['ID', 'Title', 'Subjectivity', 'Polarity', 'Insight',
         'Post Text', 'Score', 'Upvotes', 'Media', 'Is_Video',
       'Total Comments', 'Post Date']]
df.head()

,ID,Title,Subjectivity,Polarity,Insight,Post Text,Score,Upvotes,Media,Is_Video,Total Comments,Post Date
0,101uwa4,"Moronic Monday - January 03, 2023 - Your Weekl...",0.000000,0.000000,Neutral,This is your safe place for questions on finan...,30,0.87,NaN,False,42,2023-01-03 02:00:12
1,1046j4t,"Citadel posts record revenues for hedge-fund, ...",0.000000,0.000000,Neutral,NaN,403,0.89,NaN,False,175,2023-01-05 18:42:46
2,102ihvq,Sam Bankman-Fried pleads not guilty to 8 count...,1.000000,0.250000,Positive,NaN,1109,0.97,NaN,False,215,2023-01-03 20:29:46
3,100msuy,"Tough year ahead for the global economy, IMF's...",0.416667,-0.194444,Negative,NaN,365,0.95,NaN,False,43,2023-01-01 16:12:13
4,100ft3e,If Risk Is Not Share Price Volatility... Then ...,0.000000,0.000000,Neutral,NaN,89,0.92,NaN,False,13,2023-01-01 09:03:50

In [21]:
df["Post Text"] = df["Post Text"].fillna("No text")
df["Media"] = df["Media"].fillna("No media")

df.isna().sum()

ID                0
Title             0
Subjectivity      0
Polarity          0
Insight           0
Post Text         0
Score             0
Upvotes           0
Media             0
Is_Video          0
Total Comments    0
Post Date         0
dtype: int64